<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <RollingFile name="file" fileName="log/log.log">
            <FilePattern>log/%d{yyyy-MM-dd-hh}-%i-log.log</FilePattern>
            <PatternLayout pattern="%d{ISO8601} [%-5p] (%F:%L) - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} [%-5p] (%F:%L) - %m%n"/>
        </Console>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="console" level="info"/>
            <appender-ref ref="file" level="info"/>
        </root>
    </loggers>

</configuration>


